body {
    margin: 0;
}

.sitebody {
    background-color: #1F2937;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
    font-family: 'Roboto';
    display: flex;
}

#logopic {
    width: 150px;
    height: 100px;
    margin-left: 50px;
}

a:link {
    color: orange;
}

a:visited {
    color: orangered;
}

.ullist {
    display: inline;
    margin-left: 1500px;
    color: #E5E7EB;
    font-size: 18px;
}

.headerlogo,
.ullist {
    flex: 1;
}

.links {
    display: inline;
}

.mainheader {
    margin-top: 100px;
    margin-right: 400px;
    margin-left: 400px;
    display: inline;
    margin-bottom: 500px;
}

.textcontainer {
    display: inline-block;
    margin-right: 100px;
}

.imagecontainer {
    display: inline-block;
    margin-right: 100px;
}


#text {
    color: #F9FAF8;
    font-family: 'Roboto';
    font-size: 48px;
}

#secondarytext {
    color: #E5E7EB;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: lighter;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
}

#text, #secondarytext {
    margin: 5px;
}

img {
    width: 400px;
    height: 200px;
    
}

.mainbody {
    background-color: #F9FAF8;
    margin-bottom: 0;
}

#randominfo {
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    color: #1F2937;
    padding-top: 10px;
}

.mainbodypics {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#pics {
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.imgtext {
    text-align: center;
    font-family: 'Roboto';
    font-weight: lighter;
}

.quotesection {
    background-color: #E5E7EB;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-right: 350px;
    padding-left: 350px;
}

#quotetext {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    font-family: 'Roboto';
}

#whosaidquote {
    font-weight: bold;
    font-family: 'Roboto';
    text-align: right;
}