body {
    margin: 0;
}

.sitebody {
    background-color: #1F2937;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
    font-family: 'Roboto';
    display: flex;
}


.headerlogo{
   display: inline;
   margin-left: 70px;
}

.ullist {
    display: inline;
    margin-left: 800px;
    color: #E5E7EB;
    font-size: 18px;
}

.headerlogo,
.ullist {
    flex: 1;
}

.links {
    display: inline;
}

.mainheader {
    margin-top: 100px;
    margin-left: 400px;
}

.textcontainer {
    display: inline-block;
    margin-right: 100px;
}

.imagecontainer {
    display: inline-block;
    margin-right: 100px;
}

#text {
    color: #F9FAF8;
    font-family: 'Roboto';
    font-size: 48px;
}

#secondarytext {
    color: #E5E7EB;
    font-family: 'Roboto';
    font-size: 18px;
}

button {
    background-color: #3882F6;
}

#text, #secondarytext {
    margin: 5px;
}

img {
    width: 400px;
    height: 200px;
    
}

.mainbody {
    background-color: #F9FAF8;
    
}

#randominfo {
    text-align: center;
    font-family: 'Roboto';
}

.mainbodypics {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#pics {
    border: 5px solid #3882F6;
    border-radius: 10px;
}
